Diccionario Formulario:
{
"titulares":[{Diccionario campos mínimos}],
"productos":[{Diccionario producto y/o servicio}],
"perfilEconomico":{Diccionario perfil económico y transaccional}
}

Diccionario campos mínimos:
{
"tipoActuacion":"C",
"calidadActua":"datos",
"lugar":{Diccionario lugar},
"fecha":"20200223",
"cliente":{Diccionario datos personales},
"representante":{Diccionario datos personales},
"infoEconomica":{Diccionario información económica inicial}
}

Diccionario campos mínimos firmante:
{
"tipoActuacion":"C",
"calidadActua":"datos",
"lugar":{Diccionario lugar},
"fecha":"20200223",
"firmante":{Diccionario datos personales},
"representante":{Diccionario datos personales}
}

Diccionario lugar
{
"pais":"GT",
"departamento":"01",
"municipio":"0101"
}

Diccionario datos personales
{
"primerApellido":"datos", 
"segundoApellido":"datos",
"apellidoCasada":"datos",
"primerNombre":"datos",
"segundoNombre":"datos",
"otrosNombres":"datos",
"fechaNacimiento":"20200223",
"nacionalidades":["GT","MX","US"], 
"nacimiento":{Diccionario lugar}, 
"condicionMigratoria":7, 
"otraCondicionMigratoria":"datos", 
"sexo":"F",
"estadoCivil":"S", 
"profesionOficio":"datos", 
"tipoDocumentoIdentificacion":"P", 
"numeroDocumentoIdentificacion":"datos", 
"emisionPasaporte":"MX",
"nit":"datos",
"telefonos":[22000000,1702220000013],
"email":"abc@abc.abc",
"direccionResidencia":"datos",
"residencia":{Diccionario lugar}, 
"pep":"S",
"datosPep":{Diccionario datos PEP}, 
"parienteAsociadoPep":"S",
"datosParienteAsociadoPep":[{Diccionario pariente/asociado PEP}], 
"cpe":"S"
}

Diccionario datos PEP
{
"entidad":"datos", 
"puestoDesempenia":"datos", 
"paisEntidad":"GT", 
"origenRiqueza":1, 
"otroOrigenRiqueza":"datos"
}

Diccionario pariente/asociado PEP
{
"parentesco":"P",
"otroParentesco":"datos",
"motivoAsociacion":"PR", 
"otroMotivoAsociacion":"datos", 
"primerApellido":"datos", 
"segundoApellido":"datos", 
"apellidoCasada":"datos", 
"primerNombre":"datos", 
"segundoNombre":"datos", 
"otrosNombres":"datos", 
"sexo":"F",
"condicion":"N",
"entidad":"datos",
"puestoDesempenia":"datos", 
"paisEntidad":"GT"
}

Diccionario información económica inicial
{
"montoIngresos":999999.99,
"negocioPropio":[{Diccionario información negocio propio}], 
"relacionDependencia":[{Diccionario información relación dependencia}], 
"otrosIngresos":[{Diccionario información otros ingresos}], 
"propositoRC":"datos"
}

Diccionario información negocio propio
{
"nombreComercial":"datos"
}

Diccionario información relación dependencia
{
"nombreEmpleador":"datos"
}


Diccionario información otros ingresos
{
"otrasFuentesIngreso":"datos"
}

Diccionario producto y/o servicio:
{
"lugar":{Diccionario lugar}, 
"fecha":"20200223",
"tipo":"datos",
"nombre":"datos", 
"descripcion":"datos", 
"identificador":"datos", 
"nombreContrata":"datos", 
"moneda":"GTQ", 
"valor":999999.99,
"otrosFirmantes":[{Diccionario campos mínimos firmante}], 
"beneficiarios":[{Diccionario campos mínimos}]
}
Diccionario perfil económico y transaccional:
{
"actualizacion":"I", 
"fecha":"20200223",
"negocioPropio":[{Diccionario perfil económico negocio propio}], 
"relacionDependencia":[{Diccionario perfil económico relación dependencia}], 
"otrosIngresos":[{Diccionario perfil económico otros ingresos}], 
"perfilTransaccional":[{Diccionario perfil transaccional}]
}

Diccionario perfil económico negocio propio:
{
"nombreComercial":"datos", 
"principalActividadEconomica":"datos", 
"fechaInscripcionNegocio":"20200223", 
"numeroRegistro":999999, 
"folio":999999,
"libro":999999,
"direccionNegocio":"datos", 
"lugar":{Diccionario lugar}, 
"ingresos":{Diccionario ingresos}
}

Diccionario perfil económico relación dependencia:
{
"sector":"PU", 
"nombreEmpleador":"datos",
"principalActividadEconomicaEmpleador":"datos", 
"puestoDesempenia":"datos", 
"direccionEmpleador":"datos",  
"lugar":{Diccionario lugar}, 
"ingresos":{Diccionario ingresos}
}

Diccionario perfil económico otros ingresos:
{
"tipoOtrosIngresos":0, 
"detalleOtrosIngresos":"datos", 
"ingresos":{Diccionario ingresos}
}

Diccionario ingresos:
{
"tipoMoneda":"GTQ", 
"montoAproximado":999999.99
}

Diccionario perfil transaccional:
{
"fecha":"20200223",
"productoServicio":"datos", 
"tipoMoneda":"GTQ", 
"montoPromedioMensual":999999.99,
"principalesUbicacionesGeograficas":[{Diccionario lugar}]
}
